@import 'src/style/_variables';

.menu {
  grid-area: menu;
  position: relative;
  right: 0;
  height: fit-content;
  margin-top: .4rem;
  font-size: 2.7rem;
  text-align: left;
  z-index: 999;

  &__icon {
    position: relative;
    float: right;
    top: -9.4rem;
    cursor: pointer;
    z-index: 9999;

    &--bar1,
    &--bar2,
    &--bar3 {
      width: 2.188rem;
      height: 0.313rem;
      background-color: black;
      margin: rem(6) 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    /* Rotate first bar */
    &--change &--bar1 {
      -webkit-transform: rotate(-45deg) translate(-0.563rem, 0.6rem);
      transform: rotate(-45deg) translate(-0.563rem, 0.6rem);
    }

    /* Fade out the second bar */
    &--change &--bar2 {
      opacity: 0;
    }

    /* Rotate last bar */
    &--change &--bar3 {
      -webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
      transform: rotate(45deg) translate(-0.5rem, -0.5rem);
    }

    @include respond-to($tablet-portrait) {
      display: none;
    }
  }

  &__items {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: .8em;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 80%, rgba(255, 255, 255, 0) 100%);

    @include respond-to($small-phone) {
      position: absolute;
      text-align: left;
      top: -5.7rem;
      right: 4px;
      width: auto;
      padding: 0;
    }

    @include respond-to($tablet-portrait) {
      position: relative;
      text-align: left;
      left: 0;
      top: 0;
      display: block;
      background: transparent;
      padding: 0;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 1.4rem;

    &--last {
      margin-bottom: .2rem;
    }
  }

  &__item--link {
    text-decoration: none;
    position: relative;
    transition: color 0.2s linear, padding 0.2s ease-out;
    color: #1b1b1b;

    &:hover {
      color: $active-link-color;
      transition: color 0.4s linear, padding 0.4s ease;
      padding-left: 2rem;
    }
  }

  &__item--linkActive {
    color: $active-link-color;
  }

  &__top-hline2 {
    position: absolute;
    display: none;
    bottom: 0;
    left: -5.55vw;
    width: 35.2rem;
    min-width: 250px;
    height: .1rem;
    background: #000000;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #000000), to(#ffffff));
    background: linear-gradient(to right, #000000 55%, #ffffff 100%);

    @include respond-to($tablet-portrait) {
      display: block;
    }
  }

  &__left-line {
    position: absolute;
    display: block;
    top: -.8rem;
    left: -.6rem;
    width: .1rem;
    height: 11.5rem;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #000000), to(#ffffff));
    background: linear-gradient(to bottom, #000000 75%, #ffffff 100%);

    @include respond-to($tablet-portrait) {
      display: none;
    }
  }

  @include respond-to($tablet-portrait) {
    float: left;
    left: 0;
    margin-top: 0;
    padding: 5.4rem 0 5.4rem 2.2rem;
  }
}