@import 'src/style/_variables';

.home {
  &__text {
    margin: 0 auto;
    padding: 0 3% 12.8rem 3%;
    text-align: left;
    font-size: 3.5rem;
    line-height: 1.2;
    max-width: 51.7rem;

    &--paragraph {
      margin-bottom: 1.3rem;
    }

    @include respond-to($tablet-landscape) {
      margin-left: 21%;
      padding: 0;
    }
  }
}