// Global variables
$primary-font-color: #868686;
$secondary-font-color: #404040;
$third-font-color: #4e1397;

// Font weights are determinate by Montserrat Google Font styles
$font-regular: 400;
$font-semiBold: 600;
$font-bold: 700;

// Media queries
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// desktops
$screen-xl-min: 1440px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Mixins
@mixin webkitInput {
  input {
    &:-webkit-autofill,
    -webkit-autofill:hover,
    -webkit-autofill:focus,
    -webkit-autofill:active {
      border: 2px solid white;
      border-radius: .6rem;
      -webkit-text-fill-color: black;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }
  }
}