// { Functions and variables
  
// active link color
$active-link-color: #990000;
// border input color
$border-input: #dfdfe4;
// border input active color
$border-input-active: #a0a0a0;

// Breakpoints
$small-phone: '(min-width: 360px)'; // 360px
$tablet-portrait: '(min-width: 768px)'; // 768px
$tablet-landscape: '(min-width: 951px)'; // 951px
$large-desktop: '(min-width: 1024px)'; // 1024px
$display-fullhd: '(min-width: 1920px)'; // 1920px
$display-wqhd: '(min-width: 2560px)'; // 2560px
$display-4k: '(min-width: 3800px)'; // 3800px
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';

// Media queries
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

// } Functions and variables
