@import 'normalize.css/normalize';
@import '_variables';
@import '_classes';
@import url('https://fonts.googleapis.com/css?family=Jura:400,300,500,600&subset=latin,latin-ext');

html, body, #root {
  position: relative;
  min-width: 360px;
  height: 100%;
  color: $primary-font-color;
  margin: 0;
  font-family: Jura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
